*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header, navbar */
.header{
    width: auto;
    height: auto;
    background: linear-gradient(to bottom, #ee739e, #632E40);
    padding: 40px 100px 80px 100px;
}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header .navbar .logo{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 22px;
}

.header .navbar .menu{
    display: flex;
    gap: 24px;
    align-items: center;
}

.header .navbar .menu a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

.header .navbar .menu #a:not(button #a)::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform-origin: right;
    transform: scaleX(0);
}

.header .navbar .menu #a:not(button #a):hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.header .navbar .menu .signup-button a{
    padding: 10px 30px;
    border-radius: 6px;
    border: 0px solid;
    font-weight: bold;
    background-color: #763249;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.header .navbar .menu .signup-button:hover {
    background-color: #632E40;
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
}

/* tambahkan gaya khusus jika diperlukan */
.modal {
    display: none; /* Sembunyikan modal secara default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Limit maximum width */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input[type=text], 
.modal-content input[type=email], 
.modal-content input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal-content button:hover {
    opacity: 0.8;
}

/* Gaya untuk profil dropdown */
/* Styling untuk dropdown dan ikon */
.profile-menu {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button.dropbtn {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.dropdown button.dropbtn i {
    font-size: 40px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    color: #fff; /* Warna ikon */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    top: 40px; /* Sesuaikan dengan posisi yang diinginkan */
    right: 0; /* Sesuaikan dengan posisi yang diinginkan */
}

.menu .profile-menu .dropdown .dropbtn:hover{
    background-color: transparent;
}

.menu .profile-menu .dropdown .dropdown-content div{
    display: flex;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
}

.menu .profile-menu .dropdown .dropdown-content div:hover{
    background-color: #ccc;
}

.menu .profile-menu .dropdown .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: rgb(0, 0, 0);
}

.dropdown-content.show {
    display: block;
}

/* modal */
/* tambahkan gaya khusus jika diperlukan */
/* CSS untuk styling modal */
.modal {
    display: none; /* Sembunyikan modal secara default */
    position: fixed; /* Tetapkan posisi modal */
    z-index: 1; /* Tingkatkan indeks tumpukan untuk modal */
    left: 0;
    top: 0;
    width: 100%; /* Lebar 100% */
    height: 100%; /* Tinggi 100% */
    overflow: auto; /* Aktifkan scrolling jika konten lebih besar dari modal */
    background-color: rgb(0,0,0); /* Warna latar belakang */
    background-color: rgba(0,0,0,0.4); /* Warna latar belakang dengan transparansi */
  }
  
  /* Konten dalam modal */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Atur margin agar modal muncul di tengah layar */
    padding: 20px;
    border: 0px solid #888;
    width: 80%; /* Lebar konten modal */
    border-radius: 10px;
  }
  
  /* Tombol untuk menutup modal */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content form input{
    border-radius: 5px;
  }

  .modal-content form button{
    background-color: #632E40;
    border-radius: 5px;
  }
  
  /* Animasi untuk tampilan modal */
  .animate {
    animation: zoom 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }


/* header, judul */
.header .judul{
    padding: 60px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header .judul h1{
    font-size: 80px;
    color: #fff;
}

.header .judul p{
    font-size: 18px;
    color: #fff;
}

/* artikel */
.artikel{
    padding: 40px 80px 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.artikel .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.artikel .container{
    display: flex;
    justify-content: space-evenly;
}

.artikel .container .box{
    padding: 30px 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    border: 0px solid;
    transition: transform 0.5s, border 0.3s, box-shadow 0.3s;
}


.artikel .container .box:hover{
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
    transform: translateY(-20px);
    border: none;
}

.artikel .container .box img{
    width: 300px;
}

.artikel .container .box span a{
    text-decoration: none;
    font-style: italic;
}

/* quotes */
.quotes{
    margin: 80px 0px;
    padding: 40px 80px 40px 80px;
    background: linear-gradient(to bottom, #ee739e, #632E40);
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.quotes .kutip-kiri{
    display: flex;   
}

.quotes .kutip-kanan{
    display: flex;
    justify-content: end;   
}

/* harga */
.harga {
    padding: 40px 80px 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.harga .text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.harga .container{
    display: flex;
    gap: 50px;
}

.harga .container .box{
    width: 370px;
    height: 440px;
    padding: 50px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 26px;
    border-radius: 18px;
    border: 0.1px solid #632e4034;
    text-align: center;
    align-items: center;
    transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
}

.harga .container .box:hover{
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
    transform: translateY(-20px);
    border: none;
}

.harga .container .box ul{
    padding: 0px 20px;
    font-size: 18px;
    text-align: left;
}

.harga .container .box button{
    width: 190px;
    height: 38px;
    border-radius: 6px;
    border: 0px solid;
    background-color: #632E40;
}

.harga .container .box button a{
    color: #fff;
    text-decoration: none;
}

/* footer */

.footer{
    background: linear-gradient(to bottom, #ee739e, #632E40); background-color: #ee739e;
    padding: 80px 100px 80px 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo, .footer-layanan, .footer-kontak, .footer-tautan{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo .images{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-kontak .box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img{
    width: 50px;
}

.footer-tautan{
    width: auto;
}

.footer-tautan a{
    text-decoration: none;
    color: #fff;
}