*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
}

.bag-kanan, .bag-kiri{
    width: 50%;
    height: 800px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bag-kiri{
    background: linear-gradient(to bottom, #ee739e, #632E40);
    color: #fff;
}

#h1-1{
    font-size: 60px;
}

#h1-2{
    font-size: 60px;
    font-weight: lighter;
}

.bag-kanan{
    color: grey;
}

.bag-kanan div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bag-kanan h1{
    color: black;
}

.bag-kanan div input{
    width: 480px;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 0.1px solid;
}

.bag-kanan form button{
    width: 482px;
    padding: 20px 100px;
    border-radius: 6px;
    border: 0px solid;
    background: linear-gradient(to bottom, #ee739e, #632E40);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.bag-kanan form a{
    text-decoration: none;
    color: blue;
}